.container {
    display: d-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-color: #042c6a;
}